@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "Bold";
  src: url("/fonts/NanumSquareRoundB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Light";
  src: url("/fonts/NanumSquareRoundL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Regular";
  src: url("/fonts/NanumSquareRoundR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("/fonts/NanumSquareRoundR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "POP";
  src: url("/fonts/ONE Mobile POP.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Regular', Arial, Helvetica, sans-serif;
}

.font-Bold {
  font-family: "Bold", sans-serif;
}

.font-Regular {
  font-family: "Regular", sans-serif;
}

.font-Light {
  font-family: "Light", sans-serif;
}

.font-POP {
  font-family: "POP", sans-serif;
}
